html {
  font-size: 62.5%;
}
body {
  font-size: 1.8rem;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  line-height: 1.5;
}
h1 {
  font-size: 4.2rem;
  font-weight: 800;
}
h2 {
  font-size: 3.8rem;
  font-weight: 700;
}
h3 {
  font-size: 3.4rem;
  font-weight: 600;
}
h4 {
  font-size: 3.0rem;
  font-weight: 500;
}
h5 {
  font-size: 2.6rem;
  font-weight: 400;
}
h6 {
  font-size: 2.2rem;
  font-weight: 400;
}
h1, h2, h3, h4, h5, h6 {
  &.header-display {
    font-family: 'Baloo Tammudu 2', cursive;
    line-height: 1;
  }
}
h1.header-display { font-weight: 900; }
h2.header-display { font-weight: 700; }
h3.header-display, h4.header-display, h5.header-display, h6.header-display { font-weight: 400; }

h1, h2, h3, h4, h5, h6 {
  &.header-serif {
    font-family: 'Merriweather', serif;
    line-height: 1.25;
  }
}
h1.header-serif { font-weight: 700; }
h2.header-serif { font-weight: 500; }
h3.header-serif { font-weight: 400; }
h4.header-serif, h5.header-serif, h6.header-serif { font-weight: 300; }


h1, h2, h3, h4, h5, h6 {
  &.header-sans {
    font-family: 'Ubuntu', sans-serif;
    line-height: 1.1;
  }
}
h1.header-sans { font-weight: 700; }
h2.header-sans { font-weight: 500; }
h3.header-sans { font-weight: 400; }
h4.header-sans, h5.header-sans, h6.header-sans { font-weight: 300; }